doctype html
html
    head
        meta(charset="utf-8")
        title=title
        link(rel='stylesheet', href=articleCssSrc)
        if css!==''
            link(rel='stylesheet', href=cssPrefix+css)
        script(type="text/javascript" src=prettifyJsSrc)
        script(type="text/javascript" src=initJsSrc)
    body
        include ./_common/nav.jade
        div#container
            include ./_common/aside.jade
            section#articles
                article.post-content
                    div.title
                        h2.title=title
                        span.date=date
                    //- 直接引用convertor
                    div!=text
            include ./_common/footer.jade